.quiz {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.addField, .removeField {
  font-size: 20px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px inset $btn-shadow;
  color: $white;
  display: flex;
  align-items: center;
}

.addField.small, .removeField.small {
  font-size: 12px;
  width: 20px;
  height: 20px;
}

.addField {
  background: $success;
}

.removeField {
  margin-left: 5px;
  background: $danger;
}

.sublist {
  margin: 0 0 30px 0;
  background: #dbe0e1;
  padding: 20px;
  border-radius: 4px;

  > ul > li > .list-header{
    padding: 10px;
    border-radius: 13px;
    margin-bottom: 10px;
    background: $card;
    border: 1px solid $card-border;

    &:last-child {
        margin-bottom: 20px;
    }
  }
}

.list-header {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border-radius: 13px 13px 0 0;
  padding: 0 10px 10px;
  > .flex-container {
    flex: 1;
    margin-bottom: 20px;
  }
}

.list-header .btn-h {
  margin: 0 0 0 15px;
}

.answer-list {
  flex: 0 1 80%;
  margin-left: auto;
}